# Please copy this file to .env.local and fill in the values

# REQUIRED

# sign up for a free account on https://www.mapbox.com/
# for local development, use the default public token found on the account dashboard
VITE_MAPBOX_ACCESS_TOKEN=your_mapbox_public_token_here

# OPTIONAL

# Override the browser tab title to help distinguish your local dev instance from other environments
# Defaults to "[DEV] IMOS-OceanCurrent" in development and "IMOS-OceanCurrent" in production
# VITE_APP_TITLE=My Custom Title

# Override the upstream targets for the vite dev server proxy (defaults to edge upstream)
# VITE_API_BACKEND_URL=https://oceancurrent.edge.aodn.org.au/api/v1
# VITE_API_EC2_PROXY_URL=https://oceancurrent.edge.aodn.org.au/resource
# VITE_API_S3_PROXY_URL=https://oceancurrent.edge.aodn.org.au/storage

# Enable proxy request logging in the terminal
# VITE_PROXY_LOG=true

# the port to run the dev server on
# VITE_PORT=3000 # default is 5173

# open the browser when the dev server starts
# VITE_OPEN_BROWSER=true

# the browser to open if VITE_OPEN_BROWSER is set to true
# options: chrome, firefox, msedge...
# more info: https://vitejs.dev/config/server-options#server-open
BROWSER=chrome
