@import './components.css';

@import 'tailwindcss/theme' layer(theme);
@import './normalize.css' layer(base);
@import 'tailwindcss/utilities' layer(utilities);

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  html {
    scroll-padding-top: var(--scroll-padding-top, 0px);
  }
}

/* Move the logo container from bottom left to bottom right */
.mapboxgl-ctrl-bottom-left {
  left: 100% !important;
}

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
  margin: 0 !important;
}

.mapboxgl-ctrl-logo {
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
  margin-bottom: 10px !important; /* align with the mapbox controller margin */
  margin-right: 10px !important; /* align with the mapbox controller margin */
}
